:root {
    --colour-primary: #ADD8E6;
    --colour-secondary: #e6b412;
}

.bg-primary {
    background-color: var(--colour-primary);
}

.bg-secondary {
    background-color: var(--colour-secondary);
}

.bg-error{
    background-color: #ff0000;
}

.bg-warning{
    background-color: #a2840e;
}

.bg-white{
    background-color: white;
}

.bg-gray{
    background-color: rgb(107, 107, 107);
}
.bg-black{
    background-color: black;
}

.text-primary {
    color: var(--colour-primary) !important;
}

.text-secondary {
    color: var(--colour-secondary);
}

.text-black{
    color: #000;
}

.text-white{
    color: #4e4c4c;
}

.border-primary {
    border-color: var(--colour-primary);
}

.border-secondary {
    border-color: var(--colour-secondary);
}

